@charset "UTF-8";
/*--------------------------------------------------------------
 * this is common style
 *
 * @package conveythought
--------------------------------------------------------------*/
/*--------------------------------------------------------------
  content width
--------------------------------------------------------------*/
.size-auto,
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width : 100% ;
	height : auto ;
}

/*--------------------------------------------------------------
  minimum necessary
--------------------------------------------------------------*/
.sticky,
.gallery-caption,
.bypostauthor {
	display : block ;
}
.wp-caption,
.wp-caption-text {
	font-size : 90% ;
}

/*--------------------------------------------------------------
  Alignments
--------------------------------------------------------------*/
.alignnone {
	margin : 5px 20px 20px 0 ;
}
.aligncenter {
	display : block ;
	margin : 5px auto 5px auto ;
}
.alignright {
	float :right ;
	margin : 5px 0 20px 20px ;
}
.alignleft {
	float : left ;
	margin : 5px 20px 20px 0 ;
}
a img.alignright {
	float : right ;
	margin : 5px 0 20px 20px ;
}
a img.alignnone {
	margin : 5px 20px 20px 0 ;
}
a img.alignleft {
	float : left ;
	margin : 5px 20px 20px 0 ;
}
a img.aligncenter {
	display : block ;
	margin-left : auto ;
	margin-right : auto ;
}
a img {
	display : block!important ;
}
.wp-caption {
	background : #fff ;
	border : 1px solid #f0f0f0 ;
	max-width : 96% ;
	padding : 5px 3px 10px ;
	text-align : center ;
}
.wp-caption.alignnone {
	margin : 5px 20px 20px 0 ;
}
.wp-caption.alignleft {
	margin : 5px 20px 20px 0 ;
}
.wp-caption.alignright {
	margin : 5px 0 20px 20px ;
}
.wp-caption img {
	border : 0 none ;
	height : auto ;
	margin : 0 ;
	max-width : 98.5% ;
	padding : 0 ;
	width : auto ;
}
.wp-caption p.wp-caption-text {
	font-size : 11px ;
	line-height : 17px ;
	margin : 0 ;
	padding : 0 4px 5px ;
}
/* Text meant only for screen readers. */
.screen-reader-text {
	clip : rect(1px, 1px, 1px, 1px) ;
	position : absolute !important ;
	height : 1px ;
	width : 1px ;
	overflow : hidden ;
}
.screen-reader-text:focus {
	background-color : #f1f1f1 ;
	border-radius : 3px ;
	box-shadow : 0 0 2px 2px rgba(0, 0, 0, 0.6) ;
	clip : auto !important ;
	color : #21759b ;
	display : block ;
	font-size : 14px ;
	font-size : 0.875rem ;
	font-weight : bold ;
	height : auto ;
	left : 5px ;
	line-height : normal ;
	padding : 15px 23px 14px ;
	text-decoration : none ;
	top : 5px ;
	width : auto ;
	z-index : 100000 ; /* Above WP toolbar. */
}
.required {
	color : red ;
}
.body-pad {
	padding-top : 60px ;
}
/*--------------------------------------------------------------
  Element
--------------------------------------------------------------*/
html {
	font-size : 62.5% ;
}
body {
	padding-top : 10px ;
	color : #000 ;
	background : #fff ;
	font-family : "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif ;
	font-size : 15px ;
	font-size : 1.5rem ;
	line-height : 2 ;
	border-top : 3px solid #ffafbd ;
}
img {
	max-width : 100% ;
	height : auto ;
}
div,
p,
span,
table,
td,
th,
tr {
	box-sizing : border-box ;
	-ms-word-wrap : break-word ;
	word-wrap : break-word ;
}
ul,
li,
ol {
	box-sizing : border-box ;
	-ms-word-wrap : break-word ;
	word-wrap : break-word ;
}
a {
	color : #000 ;
	text-decoration : underline ;
}
a:hover,
a:active {
	color : #ffafbd ;
	text-decoration : none ;
}
h1,h2,h3,h4,h5,h6 {
	margin-bottom : 20px ;
	font-family : sans-serif ;
	font-weight : bold ;
	color : #000 ;
}
h1 a,h2 a,h3 a,h4 a,h5 a,h6 a {
	text-decoration : none ;
	-ms-word-wrap : break-word ;
	word-wrap : break-word ;
}
h1 {
	font-family : sans-serif ;
	font-size : 26px ;
	font-size : 2.6rem ;
	padding-bottom : .5em ;
	border-bottom : 2px solid #000 ;
}
h1:first-letter {
	margin-right : .1em ;
	font-size : 3.3rem ;
	color : #ffafbd ;
}
h2 {
	font-size : 23px ;
	font-size : 2.3rem ;
	position : relative ;
	padding-bottom : .5em ;
	border-bottom : 2px solid #000 ;
}
h2::after {
	position : absolute ;
	bottom : -2px ;
	left : 0 ;
	z-index : 2 ;
	content : '' ;
	width : 20% ;
	height : 2px ;
	background-color : #ffafbd ;
}
h3 {
  position : relative ;
  margin : 0 0 1.5em ;
  padding : 0.8em 0 0.8em 1.5em ;
  border : 1px solid #ffafbd ;
  font-size : 1.143em ;
  font-weight : bold ;
	border-radius : 5px ;
}
h3:before {
  content : "" ;
  position : absolute ;
  background : #ffafbd ;
  top : 50% ;
  left : 0.5em ;
  margin-top  :-15px ;
  height : 30px ;
  width : 8px ;
  border-radius : 2px ;
  -webkit-border-radius : 2px ;
  -moz-border-radius : 2px ;
}
h4 {
	font-size : 18px ;
	font-size : 1.8rem ;
	position : relative ;
	padding : 10px 15px ;
	background-color : #f0f0f0 ;
	border-radius : 6px ;
	box-shadow : 2px 2px 4px rgba(0, 0, 0, .1) inset ;
}
h4::after {
	position : absolute ;
	top : 100% ;
	left : 30px ;
	content : '' ;
	width : 0 ;
	height : 0 ;
	border : 10px solid transparent ;
	border-top : 15px solid #f0f0f0 ;
}
h5 {
	font-size : 16px ;
	font-size : 1.6rem ;
	padding : .5em .75em ;
	background : #f4f4f4 ;
	border-top : 1px dashed #ccc ;
	border-bottom : 1px dashed #ccc ;
	box-shadow : 0 7px 10px -5px rgba(0, 0, 0, .1) inset ;
}
h6 {
	font-size : 14px ;
	font-size : 1.4rem ;
	border-bottom : 1px solid #000 ;
	padding-bottom : 10px ;
}
figure {
	max-width : 100% ;
}
blockquote {
	background : #fdfdfd ;
	color : #999 ;
	border-radius : 10px ;
	box-shadow : 1px 1px 2px rgba(0,0,0,0.3) ;
	border : 1px solid #f4f4f4 ;
}
textarea {
	width : 100% ;
}
table {
	width : 100% ;
	margin : 0 auto 50px ;
}
thead {
	border-bottom : 2px solid #999 ;
 }
th,
td {
	padding : 10px ;
}
tr:nth-child(even) {
	background : #f4f4f4 ;
}
dt {
	clear : left ;
	float : left ;
	width : 20% ;
	font-weight : bold ;
	margin-bottom : 20px ;
}
dd {
	margin : 0 0 20px 20% ;
}
ul li {
	list-style : disc ;
	margin-left : 20px ;
	overflow : visible ;
}
input,
button,
select,
textarea {
	border : 1px solid #ccc ;
	border-radius : 5px ;
}
input[type="text"] {
	width : 100% ;
}


/*--------------------------------------------------------------
  thumbnailtime
--------------------------------------------------------------*/
.archive-thumbnailtime {
	padding : 20px 0 ;
	color : #999 ;
	font-family : sans-serif ;
	font-weight : bold ;
}

/*--------------------------------------------------------------
  thumbnail
--------------------------------------------------------------*/
.archive-thumbnail {
	padding : 20px 0 ;
}
.time-img {
	background : #E6E6E6 ;
	padding : 10px ;
	max-width : 150px ;
	max-height : 150px ;
 }
.time-img:hover {
	background : #F8F8F8 ;
}
.time-img p {
	margin :0 ;
	background : #fff ;
	padding : 10px ;
}
.time-img a {
	text-decoration : none ;
	color : #999
}
.time-img span {
	display : block ;
	text-align : center ;
}
.thumbnail-day {
	font-size : 300% ;
	border-bottom : 5px solid #ccc ;
	line-height : 1.5 ;
	color : #999 ;
}
.mini-img img {
	width :100% ;
	-webkit-transition : .2s ;
	transition : .2s ;
	opacity : 1 ;
}
.mini-img:hover img {
	-webkit-transition : .2s ;
	transition : .2s ;
	opacity : 0.5 ;
}
@media screen and (min-width : 768px) and (max-width : 990px ) {
	.thumbnail-day {
		font-size : 120% ;
	}
	.thumbnail-date {
		font-size : 60% ;
	}
}
@media screen and (max-width : 768px) {
	.thumbnail-day {
		font-size : 120% ;
	}
	.thumbnail-date {
		font-size : 60% ;
	}
}

/*--------------------------------------------------------------
  widget
--------------------------------------------------------------*/
.widget {
	margin-bottom : 50px ;
}
.widget ul {
	padding-left : 20px ;
}
.widget ul li {
	overflow : visible ;
	color : #ffafbd ;
}
#wp-calendar #next {
	text-align : right ;
}

/*--------------------------------------------------------------
  page link
--------------------------------------------------------------*/
.nav-next {
	text-align : right ;
}
.nav-links,
.nav-previous,
.nav-next {
	padding : 0 ;
}
.nav-links a {
	background : #ffafbd ;
	border-radius : 5px ;
	padding : 10px 10px 8px ;
	width : 90% ;
	display : inline-block ;
	color : #000 ;
	text-shadow :1px 1px 2px rgba(255,255,255,0.7) ;
}
.nav-links a:hover {
	opacity : 0.7 ;
}
.nav-links .page-numbers {
	width : 30px ;
	height : 30px ;
	line-height : 30px ;
	padding : 0 ;
	text-align : center ;
}
.nav-links .next,
.nav-links .prev {
	width : 80px ;
}
.nav-links .current {
	height : 30px ;
	line-height : 30px ;
	padding : 10px ;
	text-align : center ;
}
@media screen and (max-width : 768px) {
	.nav-links a {
		width : 100% ;
		margin-bottom : 20px ;
	}
}
.link-page-nav {
	margin-bottom : 50px ;
	text-align : right ;
}
.link-page-nav span {
	display : inline-block ;
	  padding : 0 ;
	}
.link-page-nav span {
	line-height : 30px ;
	width : 30px ;
	height : 30px ;
	display : inline-block ;
	text-align : center ;
	border-radius : 3px ;
	background : #ccc ;
	color : #999 ;
	margin : 0 5px 0 0 ;
	white-space : nowrap ;
	text-overflow : ellipsis ;
	overflow : hidden ;
	font-size : 13px ;
	text-decoration : none ;
	-webkit-transition : .2s ;
	transition : .2s ;
}
.link-page-nav a span {
	color : #fff ;
	background : #ffafbd ;
}
.link-page-nav a:hover span {
	background : #ccc ;
		color : #000 ;
	}

/*--------------------------------------------------------------
  tag
--------------------------------------------------------------*/
.tagcloud a {
	padding : 5px 10px ;
	border : 1px solid #ccc ;
	font-size : 12px !important ;
	font-size : 1.2rem !important ;
	text-decoration : none ;
	white-space : nowrap ;
}
.tagcloud a:hover {
	background-color : #ffafbd ;
	border : 1px solid #ccc ;
	color : #fff ;
}
.tagcloud a:hover span {
	background-color : #fff ;
	color : #ffafbd ;
}
.tag-area a {
	padding : 4px 10px 2px 10px ;
	border-radius : 5px ;
	background : #ffafbd ;
	text-decoration : none ;
	white-space : nowrap ;
	font-size : 13px ;
	font-size : 1.3rem ;
}
.tag-area a:hover {
	background : #ccc ;
	color : #fff ;
}

/*--------------------------------------------------------------
  category
--------------------------------------------------------------*/
.category-area a {
	padding : 4px 10px 2px 10px ;
	border-radius : 5px ;
	background : #e6e6e6 ;
	text-decoration : none ;
	white-space : nowrap ;
	font-size : 13px ;
	font-size : 1.3rem ;
}
.category-area a:hover {
	background : #ffafbd ;
	color : #fff ;
}




/*--------------------------------------------------------------
  calendar
--------------------------------------------------------------*/
#wp-calendar tbody th,
#wp-calendar tbody td {
	text-align : center ;
	vertical-align : middle ;
}
#wp-calendar #today {
	background : #ccc ;
}
#wp-calendar tbody th a,
#wp-calendar tbody td a {
	color : #ffafbd ;
	font-weight : bold ;
}

/*--------------------------------------------------------------
  related
--------------------------------------------------------------*/
.related-entry-area ul {
	padding : 0 ;
	margin : 0 ;
}
.related-entry-area ul li {
	padding : 10px ;
	margin : 0 ;
	list-style : none ;
	overflow : hidden ;
	text-align : center ;
}
