// main: ../main.scss
/*--------------------------------------------------------------
// Bootstrap
--------------------------------------------------------------*/
.breadcrumb {
	background: $color-black;
	color: $color-pink;
	line-height: 1.5;
	padding:10px 20px 5px;
	li {
		height: 100%;
	}
	a {
		color: $color-white;
		&:hover,
		&:active {
			color: #ccc;
		}
	}
}
