// main: ../main.scss
// footer

#copyright-area {
	background: $color-black;
	color: $color-white;
	padding: 10px 0;
	text-align: center;
	a {
		color: $color-pink;
		text-decoration: none;
		&:hover {
			color: #ccc;
		}
	}
}
#footer {
	.widget-categories ul {
		padding: 0;
		li {
			border: 1px solid #ccc;
			float: left;
			font-size: 12px;
			font-size: 1.2rem;
			list-style: none;
			margin: 0 5px 5px 0;
			padding: 2px 5px 0;
			white-space: nowrap;
			text-decoration: none;
			a {
				text-decoration: none;
				display: inline-block;
				&:hover {
					color: $color-white;
					background: $color-pink;
				}
			}
		}
	}
}
