// main: ../main.scss
// header

#header {
	margin: 0 0 30px;
  h1,
  h2 {
  	border: none;
  	margin: 10px 0;
  	line-height: 1;
  	padding: 0;
  }
  h1 a {
  	color: $color-text;
    &:hover {
    	opacity: 0.6;
    }
  }
}
.header-description {
  p {
  	margin: 0;
  	padding: 0;
  	line-height: 1;
  	font-size: 12px;
  	font-size: 1.2rem;
  }
  @include max-screen($breakpoints-sm-min) {
    		display: none;
  }
}
