// main: ../main.scss
//layout

/*--------------------------------------------------------------
  container
--------------------------------------------------------------*/
#container {
	width : 100% ;
}
.row {
	max-width : 1200px ;
	margin : 0 auto ;
}
/*--------------------------------------------------------------
  FlexSlider style
--------------------------------------------------------------*/
.flexslider li {
	list-style : none ;
}
.flex-direction-nav a {
	font-size : 12px ;
	font-size : 1.2rem ;
}
/*--------------------------------------------------------------
  main
--------------------------------------------------------------*/
#main {
	margin-bottom : 50px ;
}

/*--------------------------------------------------------------
  mainvisu
--------------------------------------------------------------*/
#mainvisu {
	width : 100% ;
	background : #fff ;
	margin-bottom : 50px ;
}
