// main: ../main.scss
// single
/*--------------------------------------------------------------
  comments
--------------------------------------------------------------*/
#respond,
.comment-wrap {
	padding: 15px;
	border-radius: 10px;
	border: 1px solid #f4f4f4;
	margin-bottom: 50px;
  a {
  	text-decoration: none;
  }
}
#comments label {
	display: block;
}
.comment-body {
	margin-bottom: 30px;
	border-bottom: 1px dashed $color-black;
	padding-bottom: 30px;
}
.comment-author {
	border-bottom: 1px solid $color-black;
}
.reply {
  a {
  	background: $color-pink;
  	padding: 10px 15px 8px;
  	border-radius: 5px;color: $color-black;
    &:hover {
    	background: #ccc;
    }
  }
}
